<div  class="wrapper">
        <div class="container-fluid">
            <!-- Page title box -->
            <div class="page-title-alt-bg"></div>
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a style="cursor: pointer;" target="_self"  ng-click="GoHome()">Inicio / Crear Visita</a></li>
                  
                </ol>
                <h4 class="page-title">Crear Visita  para <b style="text-decoration: underline;">{{nomEmpresa}}</b></h4></div>
      

                             <!-- Form row -->
            <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"></h4>
                          
                            <form name="formVisita" id="formVisita">
              
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                            <label for="SelectCategoria" class="col-form-label">Categoria</label>
                                            <select  name="SelectCategoria"  id="SelectCategoria" class="form-control" ng-model="crtvisCtrl.categoria">
                                                <option value="" selected >Seleccionar</option>   
                                                <option ng-repeat="option in crtvisCtrl.ListCategorias"  value="{{ option.id_categoria }}">{{ option.titulo }}</option>      
                                                                
                                            </select>                                  
                                    </div>                                 
                                </div>

                                
                        
                                <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="comentario" class="col-form-label">Comentarios</label>
                                            <textarea textarea rows="4" cols="50" name="comentario"  id="comentario" ng-model="crtvisCtrl.comentario" class="form-control" >
                                             
                                            </textarea>
                                        <!-- <input type="text" class="form-control" id="input" ng-model="comentario"> -->
                                    </div>
                                </div>
                                <button ng-click="enviarVista()" class="btn btn-success">Terminar Visita</button>
                            </form>
                        </div>
                        <!-- end card-box -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
           

                


        </div>
        <!-- end container -->
    </div>


     