<div  class="wrapper">
        <div class="container-fluid">
            <!-- Page title box -->
            <div class="page-title-alt-bg"></div>
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a style="cursor: pointer;" target="_self"  ng-click="GoHome()">Inicio / Crear Visita</a></li>
                  
                </ol>
                <h4 class="page-title">Diagnostico Empresa  </h4></div>
      

                             <!-- Form row -->
            <div class="row">
                    <div class="col-md-12">
                            <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card m-b-30 card-body">
                                            <h5 class="card-title">1.     ¿Tiene su empresa una estrategia empresarial definida e implementada?  </h5>
                                            <p class="card-text">Instrucciones.</p>
                                           

                                            <div class="row" style="margin-left: 1%">
                                                    <div class="col-xs-12  content-quest ">
                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                    <input type="radio" name="radio_2542328" id="radio_9558915">
                                                                    <label for="radio_9558915">
                                                                            No, y en este momento no nos interesa definirla                                          </label>
                                                                </div>
                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                    <input type="radio" name="radio_2542328" id="radio_9558916">
                                                                    <label for="radio_9558916">
                                                                            No, pero estamos interesados en definirla e implementarla                                          </label>
                                                                </div>
                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                    <input type="radio" name="radio_2542328" id="radio_9558917">
                                                                    <label for="radio_9558917">
                                                                            Está definida pero tengo problemas para implementarla                                            </label>
                                                                </div>
                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                    <input type="radio" name="radio_2542328" id="radio_9558918">
                                                                    <label for="radio_9558918">
                                                                            Sí se encuentra definido y se utiliza en la empresa                                           </label>
                                                                </div>
                                                    </div>
                                                </div>  
                                            </div>                                    
                                        </div>  
                                        <div class="col-lg-6">
                                                <div class="card m-b-30 card-body">
                                                <h5 class="card-title">2.     De los elementos mencionados, indique cuáles de los siguiente tiene definidos y documentados  </h5>
                                                    <p class="card-text">Instrucciones.</p>
                                                   
        
                                                    <div class="row" style="margin-left: 1%">
                                                            <div class="col-xs-12  content-quest ">
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423281" id="radio_9558915">
                                                                            <label for="radio_9558915">
                                                                                    Orientación Estratégica (misión, visión, valores, objetivos estratégicos)                                        </label>
                                                                        </div>
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423281" id="radio_9558916">
                                                                            <label for="radio_9558916">
                                                                                    Plan de Acción y presupuesto                                          </label>
                                                                        </div>
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423281" id="radio_9558917">
                                                                            <label for="radio_9558917">
                                                                                    Indicadores de seguimiento                                          </label>
                                                                        </div>
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423281" id="radio_9558918">
                                                                            <label for="radio_9558918">
                                                                                    Estudio de mercado                                           </label>
                                                                        </div>
                                                            </div>
                                                        </div>  
                                                    </div>                                    
                                                </div>                                          
                                </div> <!-- end col preguntas 1 -->
                                

                                <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card m-b-30 card-body">
                                            <h5 class="card-title">3.     Implementa prácticas de gobierno corporativo  </h5>
                                                <p class="card-text">Instrucciones.</p>
                                               
    
                                                <div class="row" style="margin-left: 1%">
                                                        <div class="col-xs-12  content-quest ">
                                                                    <div class="box-mobil box-mobil-btn btn-block">
                                                                        <input type="radio" name="radio_25423283" id="radio_9558915">
                                                                        <label for="radio_9558915">
                                                                            Si                                           </label>
                                                                    </div>
                                                                    <div class="box-mobil box-mobil-btn btn-block">
                                                                        <input type="radio" name="radio_25423283" id="radio_9558916">
                                                                        <label for="radio_9558916">
                                                                            No                                           </label>
                                                                    </div>
                                                                  
                                                        </div>
                                                    </div>  
                                                </div>                                    
                                            </div>  
                                            <div class="col-lg-6">
                                                    <div class="card m-b-30 card-body">
                                                    <h5 class="card-title">4.     ¿Posee su empresa una estrategia de innovación?  </h5>
                                                        <p class="card-text">Instrucciones.</p>
                                                       
            
                                                        <div class="row" style="margin-left: 1%">
                                                                <div class="col-xs-12  content-quest ">
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                                <input type="radio" name="radio_25423284" id="radio_9558915">
                                                                                <label for="radio_9558915">
                                                                                    Si                                           </label>
                                                                            </div>
                                                                            <div class="box-mobil box-mobil-btn btn-block">
                                                                                <input type="radio" name="radio_25423284" id="radio_9558916">
                                                                                <label for="radio_9558916">
                                                                                    No                                           </label>
                                                                            </div>
                                                                           
                                                                </div>
                                                            </div>  
                                                        </div>                                    
                                                    </div>                                          
                                    </div> <!-- end col preguntas 2 -->

                                    <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card m-b-30 card-body">
                                                <h5 class="card-title">5.    ¿Posee su empresa un proceso de gestión de la innovación?  </h5>
                                                    <p class="card-text">Instrucciones.</p>
                                                   
        
                                                    <div class="row" style="margin-left: 1%">
                                                            <div class="col-xs-12  content-quest ">
                                                                    <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423285" id="radio_9558915">
                                                                            <label for="radio_9558915">
                                                                                Si                                           </label>
                                                                        </div>
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                            <input type="radio" name="radio_25423285" id="radio_9558916">
                                                                            <label for="radio_9558916">
                                                                                No                                           </label>
                                                                        </div>
                                                            </div>
                                                        </div>  
                                                    </div>                                    
                                                </div>  
                                                <div class="col-lg-6">
                                                        <div class="card m-b-30 card-body">
                                                        <h5 class="card-title">6.     ¿Qué % de sus ventas actuales proviene de productos y servicios que no tenía hace 3 años?  </h5>
                                                            <p class="card-text">Instrucciones.</p>
                                                           
                
                                                            <div class="row" style="margin-left: 1%">
                                                                    <div class="col-xs-12  content-quest ">
                                                                            <div class="box-mobil box-mobil-btn btn-block">
                                                                                    <input type="radio" name="radio_25423286" id="radio_9558915">
                                                                                    <label for="radio_9558915">
                                                                                        Si                                           </label>
                                                                                </div>
                                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                                    <input type="radio" name="radio_25423286" id="radio_9558916">
                                                                                    <label for="radio_9558916">
                                                                                        No                                           </label>
                                                                                </div>
                                                                    </div>
                                                                </div>  
                                                            </div>                                    
                                                        </div>                                          
                                        </div> <!-- end col preguntas 3 -->
                                        <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="card m-b-30 card-body">
                                                    <h5 class="card-title">7.     Para qué caso necesita su empresa aplicar los procesos de innovación: (selección múltiple)   </h5>
                                                        <p class="card-text">Instrucciones.</p>
                                                       
            
                                                        <div class="row" style="margin-left: 1%">
                                                                <div class="col-xs-12  content-quest ">
                                                                        <div class="box-mobil box-mobil-btn btn-block">
                                                                                <input type="radio" name="radio_25423287" id="radio_9558915">
                                                                                <label for="radio_9558915">
                                                                                        Solucionar problemas                                         </label>
                                                                            </div>
                                                                            <div class="box-mobil box-mobil-btn btn-block">
                                                                                <input type="radio" name="radio_25423287" id="radio_9558916">
                                                                                <label for="radio_9558916">
                                                                                        Crear o mejorar productos                                          </label>
                                                                            </div>
                                                                            <div class="box-mobil box-mobil-btn btn-block">
                                                                                    <input type="radio" name="radio_25423287" id="radio_9558916">
                                                                                    <label for="radio_9558916">
                                                                                            Crear o mejorar procesos                                     </label>
                                                                                </div>
                                                                            <div class="box-mobil box-mobil-btn btn-block">
                                                                                    <input type="radio" name="radio_25423287" id="radio_9558916">
                                                                                    <label for="radio_9558916">
                                                                                            Crear o mejorar servicios                                       </label>
                                                                                </div>
                                                                </div>
                                                            </div>  
                                                        </div>                                    
                                                    </div>  
                                                    <div class="col-lg-6">
                                                            <div class="card m-b-30 card-body">
                                                            <h5 class="card-title">8.     ¿Tiene su empresa una adecuada estructura del talento humano definida e implementada?  </h5>
                                                                <p class="card-text">Instrucciones.</p>
                                                               
                    
                                                                <div class="row" style="margin-left: 1%">
                                                                        <div class="col-xs-12  content-quest ">
                                                                                <div class="box-mobil box-mobil-btn btn-block">
                                                                                        <input type="radio" name="radio_25423288" id="radio_9558915">
                                                                                        <label for="radio_9558915">
                                                                                                No, y en este momento no nos interesa definirla                                         </label>
                                                                                    </div>
                                                                                    <div class="box-mobil box-mobil-btn btn-block">
                                                                                        <input type="radio" name="radio_25423288" id="radio_9558916">
                                                                                        <label for="radio_9558916">
                                                                                                No, pero estamos interesados en definirla e implementarla                                          </label>
                                                                                    </div>
                                                                                    <div class="box-mobil box-mobil-btn btn-block">
                                                                                            <input type="radio" name="radio_25423288" id="radio_9558916">
                                                                                            <label for="radio_9558916">
                                                                                                    Está definida pero tengo problemas para implementarla                                    </label>
                                                                                        </div>

                                                                        </div>
                                                                    </div>  
                                                                </div>                                    
                                                            </div>                                          
                                            </div> <!-- end col preguntas 4 -->


                                            <button style="cursor: pointer;"  ng-click="GoHome()"  type="button" class="btn btn-icon btn btn-block btn-primary"><span> Terminar Diagnostico</span> <i class="mdi mdi-television-guide"></i>&nbsp; </button>

                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
           

                


        </div>
        <!-- end container -->
    </div>


     