
 
<!-- Main Content -->
<div class="page-wrapper">
        <div class="container-fluid">
            
            	<!-- Title -->
					<div class="row heading-bg">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h5 class="txt-dark">Historial Syllabus</h5>
                            </div>  
                            
                            <!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                                <ol class="breadcrumb">
                                    <li><a ng-href="#!/home">Pagina Principal</a></li>                             
                                    <li class="active"><span>Historial Syllabus</span></li>
                                </ol>
                            </div>
                            <!-- /Breadcrumb -->
                        </div>
                        
                        <!-- /Title -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default card-view">
                                    <div class="panel-body">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-badge bg-yellow" style="cursor: pointer;">
                                                    <i class="icon-layers" ></i>
                                                </div>
                                                <div class="timeline-panel pa-30">
                                                    <div class="timeline-heading">
                                                        <h6 class="mb-15">01 Septiembre 2018</h6>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <h4 class="mb-5">Cambio Cabecera</h4>
                                                        <p class="lead head-font mb-20">Se modifico el proposito del curso</p>
                                                        <p>Se solicito el cambio ya que el enfoque del curso cambio .</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="timeline-inverted">
                                                <div class="timeline-badge bg-pink">
                                                    <i class="icon-magnifier-add" style="cursor: pointer;" ></i>
                                                </div>
                                                <div class="timeline-panel pa-30">
                                                    <div class="timeline-heading">
                                                        <h6 class="mb-15">28 Octubre 2018</h6>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <h4 class=" mb-5">Cambio competencias especificas</h4>
                                                        <p class="lead  mb-20">competencias A y B cambiaron</p>
                                                        <p>Detalle del cambio, puede ser obligatorio .</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="timeline-badge bg-red">
                                                    <i class="icon-briefcase" style="cursor: pointer;" ></i>
                                                </div>
                                                <div class="timeline-panel pa-30">
                                                    <div class="timeline-heading">
                                                        <h6 class="mb-15">02 Octubre 2018</h6>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <h4 class=" mb-5">Cambio BIBLIOGRAFÍA</h4>
                                                        <p class="lead  mb-20">Se agrago informacion a la bibliografia</p>
                                                        <p>Se aregreo el libro "" a la bibliografia .</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="timeline-inverted">
                                                <div class="timeline-badge bg-blue">
                                                    <i class="icon-social-stumbleupon" style="cursor: pointer;"></i>
                                                </div>
                                                <div class="timeline-panel pa-30">
                                                    <div class="timeline-heading">
                                                        <h6 class="mb-15">22 Agosto 2018</h6>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <h4 class=" mb-5">Lorem Ipsum</h4>
                                                        <p class="lead  mb-20">¿Qué es Lorem Ipsum?</p>
                                                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="timeline-badge bg-green">
                                                    <i class="icon-flag" style="cursor: pointer;"></i>
                                                </div>
                                                <div class="timeline-panel pa-30">
                                                    <div class="timeline-heading">
                                                        <h6 class="mb-15">09 Agosto 2018</h6>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <h4 class=" mb-5">Lorem Ipsum</h4>
                                                        <p class="lead  mb-20">¿De dónde viene?</p>
                                                        <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. </p>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li class="clearfix no-float"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->      
    </div>    
</div>
<!-- /Main Content -->