<div  class="wrapper">
        <div class="container-fluid">
            <!-- Page title box -->
            <div class="page-title-alt-bg"></div>
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                  
                </ol>
                <h4 class="page-title">Inicio</h4></div>
      

                  <!-- End page title box -->
            <div class="row">
                    <div class="col-12">

                                                  

                        <div class="card-box">
                            <h4 class="header-title">Empresas Registradas</h4>
                            <div class="row">
                                <div class="col-md-5">
                                   
                                  
                                    <p class="text-muted font-13">Seleccione empresa</p>
                                    <select class="js-example-basic-single form-control select2" >
                                        <option value="0" disabled >selccione empresa</option>
                                            
                                            <option ng-repeat="option in HmeCtrl.ListEmpresas"  value="{{ option.id_empresa }}">{{ option.razon_social }}</option>
                                                                               
                                       
                                    </select>
                                </div>

                                <div class="col-md-6">
                                        <div class="row" style="margin-top: 7%;">
                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                        <button ng-click="GoCrearEmpresa()" class="btn btn-icon btn btn-block btn-info"><span>Crear Empresa</span> <i class="mdi mdi-city"></i></button>
                                                </div>
                                                <div class="col-md-6 col-xs-6 " style="margin-bottom: 1%">
                                                        <button  ng-click="GoCrearVisita()" class="btn btn-icon btn btn-block btn-success"><span>Registrar Visita</span> &nbsp; <i class="mdi mdi-checkbox-marked-circle"></i></button>
                                                </div>
                                                
                                        </div>

                                        <div class="row" style="margin-top: 7%;">   

                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                       
                                                        <button ng-click="GoDiagnostico()"  type="button" class="btn btn-icon btn btn-block btn-primary"><span>Registrar Diagnostico</span> <i class="mdi  mdi-file-document"></i>&nbsp; </button>
                                                </div>

                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%" ng-if="HmeCtrl.idRol  == 1">
                                                       
                                                        <button data-toggle="modal" ng-click="HmeCtrl.ModalLink()" data-target="#myModal"   type="button" class="btn btn-icon btn btn-block btn-primary"><span>Generar link Diagnostico</span> <i class="mdi mdi-link"></i>&nbsp; </button>
                                                </div>
                                               

                                        </div>

                                        <div class="row" style="margin-top: 7%;">   

                                            <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                    
                                                    <button ng-click="GoConsultarVisitas()"  type="button" class="btn btn-icon btn btn-block btn-light"><span>Visitas</span> <i class="mdi mdi-account-location"></i>&nbsp; </button>
                                            </div>

                                            <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                       
                                                        <button ng-click="GoRegistroIntentos()"  type="button" class="btn btn-icon btn btn-block btn-secondary "><span>Historial de Diagnostico</span> <i class="mdi mdi-clipboard-check"></i>&nbsp; </button>
                                                </div>
            


                                        </div>

                                </div>

                                <iframe name="tmpFrame" id="tmpFrame" width="1" height="1" style="visibility:hidden;position:absolute;display:none"></iframe>
                         
                            </div>
                            <!-- end row -->
                            <h4  ng-if="HmeCtrl.idRol == 2 || HmeCtrl.idRol  == 3" style="margin-top: 2%">Descargas Excel</h4 ><hr>

                             <div class="row" ng-if="HmeCtrl.idRol  == 3">
                                    <div class="form-group col-md-4">
                                            <label class="col-form-label"> Seleccioné camara de comercio </label>
                                       
                                            <!-- <input type="text" name="nivel_estudio"  class="form-control" placeholder="nivel_estudio" ng-model='contactoJson.nivel_estudio' >  -->
                                            <select  name="camara_Comercio"  id="camara_Comercio" class="form-control" ng-model="HmeCtrl.CamaraDeComercio">                                                     
                                                    <option selected value="0">Todo</option>
                                                    <option value="1">Cartagena</option> 
                                                    <option value="2">Tegucigalpa</option> 
                                                    <option value="3">Nicaragua</option> 
                                                    
                                            </select>  
                                   
                                        </div>

                             </div>

                            <div class="row"  ng-if="HmeCtrl.idRol == 2 || HmeCtrl.idRol  == 3" style="margin-top: 2%">
                                   

                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%" ng-if="HmeCtrl.idRol == 2 || HmeCtrl.idRol  == 3">
                                        <button ng-click="HmeCtrl.GenerarXlsEmpresas()"  type="button" class="btn btn-icon btn-outline-secondary btn-rounded w-md btn-block"> <i class="mdi mdi-file-excel" style="font-size: 19px;"></i> <span>Empresas </span> &nbsp; </button>
                                </div>
                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%" ng-if="HmeCtrl.idRol == 2 || HmeCtrl.idRol  == 3">
                                        <button ng-click="HmeCtrl.GenerarXlsVisitas()"  type="button" class="btn btn-icon btn-outline-secondary btn-rounded w-md btn-block"><i class="mdi mdi-file-excel" style="font-size: 19px;"></i><span>Visitas </span> &nbsp; </button>
                                </div>
                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%" ng-if="HmeCtrl.idRol == 2 || HmeCtrl.idRol  == 3">
                                        <button ng-click="HmeCtrl.GenerarXlsDiagnosticos()"  type="button" class="btn btn-icon btn-outline-secondary btn-rounded w-md btn-block"><i class="mdi mdi-file-excel" style="font-size: 19px;"></i><span>Diagnosticos </span> &nbsp; </button>
                                </div>

                            </div>
                            <!-- end row -->







                        </div>
                        <!-- end card-box -->
                    </div>
                    <!-- end col -->
                </div>


                


        </div>
        <!-- end container -->
    </div>

<!-- 
    <script>
            $(".navbar-toggle").on("click", function(e) {
                console.log('ff')
            $(this).toggleClass("open"), 
            $("#navigation").slideToggle(400)
             })
        
        </script> -->

        
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Link de diagnostico {{nombreEmpresaLink}}</h4>
                  
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                     
                        <div class="row">
                                <div class="col-md-12">
                                        <button type="button" ng-click="HmeCtrl.GenerarLink()" class="btn btn-outline-success btn-block"><i class="mdi mdi-link-variant mr-1"></i> <span>Generar</span></button>
                                </div>

                        </div>
                        <br>
                        <div class="row">
                                <div class="col-md-12">
                                                <div class="alert alert-dark" role="alert"> 
                                                        <p style="word-break: break-all;" id="alert-dark"></p>
                                                </div>
                                </div>
        
                        </div>


                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  
                    </div>
                    
                  </div>
                </div>
              </div>