<div  class="wrapper">
        <div class="container-fluid">
            <!-- Page title box -->
            <div class="page-title-alt-bg"></div>
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                  
                </ol>
                <h4 class="page-title">Inicio</h4></div>
      

                  <!-- End page title box -->
            <div class="row">
                    <div class="col-12">

                                                  

                        <div class="card-box">
                            <h4 class="header-title">Empresas Registradas</h4>
                            <div class="row">
                                <div class="col-md-5">
                                   
                                  
                                    <p class="text-muted font-13">Seleccione empresa</p>
                                    <select class="js-example-basic-single form-control select2" >
                                        <option value="0" disabled >selccione empresa</option>
                                            
                                            <option ng-repeat="option in HmeCtrl.ListEmpresas"  value="{{ option.id_empresa }}">{{ option.razon_social }}</option>
                                                                               
                                       
                                    </select>
                                </div>

                                <div class="col-md-6">
                                        <div class="row" style="margin-top: 7%;">
                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                        <button ng-click="GoCrearEmpresa()" class="btn btn-icon btn btn-block btn-info"><span>Crear Empresa</span> <i class="mdi mdi-television-guide"></i></button>
                                                </div>
                                                <div class="col-md-6 col-xs-6 " style="margin-bottom: 1%">
                                                        <button  ng-click="GoCrearVisita()" class="btn btn-icon btn btn-block btn-success"><span>Realizar Visita</span> &nbsp; <i class="mdi mdi-checkbox-marked-circle"></i></button>
                                                </div>
                                                
                                        </div>

                                        <div class="row" style="margin-top: 7%;">   

                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                       
                                                        <button ng-click="GoDiagnostico()"  type="button" class="btn btn-icon btn btn-block btn-primary"><span> Diagnostico</span> <i class="mdi mdi-television-guide"></i>&nbsp; </button>
                                                </div>


                                                <div class="col-md-6 col-xs-6" style="margin-bottom: 1%">
                                                       
                                                        <button ng-click="GoRegistroIntentos()"  type="button" class="btn btn-icon btn btn-block btn-light"><span>Intentos</span> <i class="mdi mdi-television-guide"></i>&nbsp; </button>
                                                </div>

                                        </div>


                                </div>
                         
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card-box -->
                    </div>
                    <!-- end col -->
                </div>


                


        </div>
        <!-- end container -->
    </div>

<!-- 
    <script>
            $(".navbar-toggle").on("click", function(e) {
                console.log('ff')
            $(this).toggleClass("open"), 
            $("#navigation").slideToggle(400)
             })
        
        </script> -->

