<div  class="wrapper">
        <div class="container-fluid">
            <!-- Page title box -->
            <div class="page-title-alt-bg"></div>
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Inicio</a></li>
                  
                </ol>
                <h4 class="page-title">Inicio</h4></div>
      

                  <!-- End page title box -->
            <div class="row">
                    <div class="col-12">

                                                  

                        <div class="card-box">
                            <h4 class="header-title">Empresas Registradas</h4>
                            <div class="row">
                                <div class="col-md-6">
                                   
                                  
                                    <p class="text-muted font-13">Seleccione empresa</p>
                                    <select class="js-example-basic-single form-control select2" >
                                        <option value="" disabled >selccione empresa</option>
                                        <optgroup label="Grupo empresarial 1">
                                            <option value="1">Empresa 1</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                        <optgroup label="Grupo empresarial 2">
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </optgroup>
                                        <optgroup label="Grupo empresarial 3">
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="UT">Utah</option>
                                            <option value="WY">Wyoming</option>
                                        </optgroup>
                                       
                                       
                                    </select>
                                </div>

                                <div class="col-md-5">
                                        <div class="row" style="margin-top: 7%;">
                                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%">
                                                        <button  ng-click="GoCrearVisita()" class="btn btn-icon btn btn-block btn-success"><span>Realizar Visita</span> &nbsp; <i class="mdi mdi-checkbox-marked-circle"></i></button>
                                                </div>
                                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%">
                                                       
                                                        <button ng-click="GoDiagnostico()"  type="button" class="btn btn-icon btn btn-block btn-primary"><span> Diagnostico</span> <i class="mdi mdi-television-guide"></i>&nbsp; </button>
                                                </div>
                                                <div class="col-md-4 col-xs-6" style="margin-bottom: 1%">
                                                        <button ng-click="GoCrearEmpresa()" class="btn btn-icon btn btn-block btn-info"><span>Crear Empresa</span> <i class="mdi mdi-television-guide"></i></button>
                                                </div>

                                        </div>
                                </div>
                         
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card-box -->
                    </div>
                    <!-- end col -->
                </div>


                


        </div>
        <!-- end container -->
    </div>

<!-- 
    <script>
            $(".navbar-toggle").on("click", function(e) {
                console.log('ff')
            $(this).toggleClass("open"), 
            $("#navigation").slideToggle(400)
             })
        
        </script> -->

